body {
    font-family: 'Times New Roman', Times, serif;
    background-image: url(/image/OC1Y8F0.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-size: 2000px 120px;
    
    
    
}



.header a {
    color: white;
    text-decoration: none

  }

.header{
    background-color: rgb(255, 255, 255,0.56);
    height: 30px;
    margin-top: -10px;
    margin-left: -8px;
    margin-right: -10px;
    padding-top: 10px;
    padding-left: 10px;
}
.header #home {
    margin-left: 0px;
    font-weight: 700;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    background-image: url("/image/home.ico");
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px; /* Adjust the width and height according to your icon size */
    height: 24px;
    padding-left: 18px; /* Add some left padding to create space for the icon */
    text-decoration: none;
    transition: color 0.3s ease;
    color: rgb(255, 255, 255);
    

}


.header #categories {
    margin-left: 30px;
    font-weight: 700;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    background-image: url("/image/category1.ico");
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px; /* Adjust the width and height according to your icon size */
    height: 24px;
    padding-left: 18px; /* Add some left padding to create space for the icon */
    text-decoration: none;
    color: rgb(255, 255, 255);



}

.header #contact {
    margin-left: 80px;
    font-weight: 700;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    background-image: url("/image/contact-book.ico");
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px; /* Adjust the width and height according to your icon size */
    height: 24px;
    padding-left: 18px; /* Add some left padding to create space for the icon */
    text-decoration: none;
    color: rgb(255, 255, 255);



}

.header #offers {
    margin-left: 48px;
    font-weight: 700;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    background-image: url("/image/discount.ico");
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px; /* Adjust the width and height according to your icon size */
    height: 24px;
    padding-left: 18px; /* Add some left padding to create space for the icon */
    text-decoration: none;
    color: rgb(255, 255, 255);

}

.header #home:hover {
    transform: scale(1.1);
    color: rgb(255, 255, 255); /* Change the text color on hover */
  }

.header #categories:hover {
    transform: scale(1.1);
    color: rgb(255, 255, 255); /* Change the text color on hover */
}

.header #contact:hover {
    transform: scale(1.1);
    color: rgb(255, 255, 255); /* Change the text color on hover */
}

.header #offers:hover {
    transform: scale(1.1);
    color: rgb(255, 255, 255); /* Change the text color on hover */
}


.landingpage .title h1{
    color: white;
    text-align: center;
    padding-bottom: 30px;
    font-style: italic;
    font-size: 25px;
    animation: colorChange 5s infinite;
}
  
@keyframes colorChange {
    0% { color: rgb(255, 197, 197); }
    25% { color: rgb(191, 191, 255); }
    50% { color: rgb(228, 255, 228); }
    75% { color: rgb(255, 237, 204); }
    100% { color: rgb(255, 185, 255); }
  }

.top_selling_products_h2{
  color: rgb(255, 255, 255);
  background-color: rgb(255, 153, 153);
  margin-left: -9px;
  margin-right: -9px;
  margin-top: -35px;
  text-align: center;
  font-style: italic;
  font-size: 20px;
  animation: colorChange2 1s infinite;
  
}
@keyframes colorChange2 {
  0% { color: rgb(255, 19, 19); }
  25% { color: rgb(5, 5, 255); }
  50% { color: rgb(0, 0, 0); }
  75% { color: rgb(3, 255, 11); }
  100% { color: rgb(0, 204, 255); }
}

.top_selling_products{
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;


}

.top_selling_products .product_1{
  height: 250px;
  width: 200px;
  padding: 20px;
  margin: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-left: 70px;
}

.top_selling_products .product_2{
  height: 250px;
  width: 200px;
  padding: 20px;
  margin: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-left: 70px;
}

.top_selling_products .product_3{
  height: 250px;
  width: 200px;
  padding: 20px;
  margin: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-left: 70px;

}

.top_selling_products .product_4{
  height: 250px;
  width: 200px;
  padding: 20px;
  margin: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-left: 70px;

}

.top_selling_products .product_5{
  height: 250px;
  width: 200px;
  padding: 20px;
  margin: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-left: 70px;

}

.top_selling_products .product_6{
  height: 250px;
  width: 200px;
  padding: 20px;
  margin: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-left: 70px;
}

.top_selling_products .product_7{
  height: 250px;
  width: 200px;
  padding: 20px;
  margin: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-left: 70px;
}

.top_selling_products .product_8{
  height: 250px;
  width: 200px;
  padding: 20px;
  margin: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-left: 70px;

}

.top_selling_products .product_9{
  height: 250px;
  width: 200px;
  padding: 20px;
  margin: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-left: 70px;

}

.top_selling_products .product_10{
  height: 250px;
  width: 200px;
  padding: 20px;
  margin: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-left: 70px;

}

.top_selling_products .product_1 img{
  width: 200px;
  height: 210px;
  border-radius: 10px;
 }
 

 
 .top_selling_products .product_1 button{
   border-radius: 10px;
   color: #f4f4f4;
   background-color: rgb(0, 203, 0);
   font-style: italic;
   font-weight: 800;
 }
 
 
 
 .top_selling_products .product_1 button:hover{
 color: rgb(0, 0, 0);
 }
 
 .top_selling_products .product_1 p{
   font-weight: 700;
   font-size: 17px;
   margin-top: -3px;
   margin-bottom: 5px;
 
 }



.top_selling_products .product_2 img{
 width: 200px;
 height: 210px;
 border-radius: 10px;
}



.top_selling_products .product_2 button{
  border-radius: 10px;
  color: #f4f4f4;
  background-color: rgb(0, 203, 0);
  font-style: italic;
  font-weight: 800;
}



.top_selling_products .product_2 button:hover{
color: rgb(0, 0, 0);
}

.top_selling_products .product_2 p{
  font-weight: 700;
  font-size: 17px;
  margin-top: -3px;
  margin-bottom: 5px;
  

}

.top_selling_products .product_3 img{
  width: 200px;
  height: 210px;
  border-radius: 10px;
 }
 
 
 .top_selling_products .product_3 button{
   border-radius: 10px;
   color: #f4f4f4;
   background-color: rgb(0, 203, 0);
   font-style: italic;
   font-weight: 800;
 }
 
 
 
 .top_selling_products .product_3 button:hover{
 color: rgb(0, 0, 0);
 }
 
 .top_selling_products .product_3 p{
   font-weight: 700;
   font-size: 17px;
   margin-top: -3px;
   margin-bottom: 5px;
 
 }

 .top_selling_products .product_4 img{
  width: 200px;
  height: 210px;
  border-radius: 10px;
 }
 
 .top_selling_products .product_4 h3{
 margin-top: -30px;
 color: aliceblue;
 font-style: italic;
 
 }
 
 .top_selling_products .product_4 button{
   border-radius: 10px;
   color: #f4f4f4;
   background-color: rgb(0, 203, 0);
   font-style: italic;
   font-weight: 800;
 }
 
 
 
 .top_selling_products .product_4 button:hover{
 color: rgb(0, 0, 0);
 }
 
 .top_selling_products .product_4 p{
   font-weight: 700;
   font-size: 17px;
   margin-top: -3px;
   margin-bottom: 5px;
 
 }

 .top_selling_products .product_5 img{
  width: 200px;
  height: 210px;
  border-radius: 10px;
 }
 
 .top_selling_products .product_5 h3{
 margin-top: -30px;
 color: aliceblue;
 font-style: italic;
 
 }
 
 .top_selling_products .product_5 button{
   border-radius: 10px;
   color: #f4f4f4;
   background-color: rgb(0, 203, 0);
   font-style: italic;
   font-weight: 800;
 }
 
 
 
 .top_selling_products .product_5 button:hover{
 color: rgb(0, 0, 0);
 }
 
 .top_selling_products .product_5 p{
   font-weight: 700;
   font-size: 17px;
   margin-top: -3px;
   margin-bottom: 5px;
 
 }

 .top_selling_products .product_6 img{
  width: 200px;
  height: 210px;
  border-radius: 10px;
 }
 
 .top_selling_products .product_6 h3{
 margin-top: -30px;
 color: aliceblue;
 font-style: italic;
 
 }
 
 .top_selling_products .product_6 button{
   border-radius: 10px;
   color: #f4f4f4;
   background-color: rgb(0, 203, 0);
   font-style: italic;
   font-weight: 800;
 }
 
 
 
 .top_selling_products .product_6 button:hover{
 color: rgb(0, 0, 0);
 }
 
 .top_selling_products .product_6 p{
   font-weight: 700;
   font-size: 17px;
   margin-top: -3px;
   margin-bottom: 5px;
 
 }

 .top_selling_products .product_7 img{
  width: 200px;
  height: 210px;
  border-radius: 10px;
 }
 
 .top_selling_products .product_7 h3{
 margin-top: -30px;
 color: aliceblue;
 font-style: italic;
 
 }
 
 .top_selling_products .product_7 button{
   border-radius: 10px;
   color: #f4f4f4;
   background-color: rgb(0, 203, 0);
   font-style: italic;
   font-weight: 800;
 }
 
 
 
 .top_selling_products .product_7 button:hover{
 color: rgb(0, 0, 0);
 }
 
 .top_selling_products .product_7 p{
   font-weight: 700;
   font-size: 17px;
   margin-top: -3px;
   margin-bottom: 5px;
 
 }


 .top_selling_products .product_8 img{
  width: 200px;
  height: 210px;
  border-radius: 10px;
 }
 
 .top_selling_products .product_8 h3{
 margin-top: -30px;
 color: aliceblue;
 font-style: italic;
 
 }
 
 .top_selling_products .product_8 button{
   border-radius: 10px;
   color: #f4f4f4;
   background-color: rgb(0, 203, 0);
   font-style: italic;
   font-weight: 800;
 }
 
 
 
 .top_selling_products .product_8 button:hover{
 color: rgb(0, 0, 0);
 }
 
 .top_selling_products .product_8 p{
   font-weight: 700;
   font-size: 17px;
   margin-top: -3px;
   margin-bottom: 5px;
 
 }

 .top_selling_products .product_9 img{
  width: 200px;
  height: 210px;
  border-radius: 10px;
 }
 
 .top_selling_products .product_9 h3{
 margin-top: -30px;
 color: aliceblue;
 font-style: italic;
 
 }
 
 .top_selling_products .product_9 button{
   border-radius: 10px;
   color: #f4f4f4;
   background-color: rgb(0, 203, 0);
   font-style: italic;
   font-weight: 800;
 }
 
 
 
 .top_selling_products .product_9 button:hover{
 color: rgb(0, 0, 0);
 }
 
 .top_selling_products .product_9 p{
   font-weight: 700;
   font-size: 17px;
   margin-top: -3px;
   margin-bottom: 5px;
 
 }

 .top_selling_products .product_10 img{
  width: 200px;
  height: 210px;
  border-radius: 10px;
 }
 
 .top_selling_products .product_10 h3{
 margin-top: -30px;
 color: aliceblue;
 font-style: italic;
 
 }
 
 .top_selling_products .product_10 button{
   border-radius: 10px;
   color: #f4f4f4;
   background-color: rgb(0, 203, 0);
   font-style: italic;
   font-weight: 800;
 }
 
 
 
 .top_selling_products .product_10 button:hover{
 color: rgb(0, 0, 0);
 }
 
 .top_selling_products .product_10 p{
   font-weight: 700;
   font-size: 17px;
   margin-top: -3px;
   margin-bottom: 5px;
 
 }


 .footer{
  font-family: 'Times New Roman', Times, serif;
  background-image: url(/image/OC1Y8F0.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-size: 2000px 120px;
  color: white;
  margin-left: -8px;
  margin-right: -10px;
  margin-bottom: -15px;
  padding-top: 10px;
  padding-left: 10px;
  display: flex;
  /* padding-bottom: 100vh; */
 }